[package]
name = "guest_snake_agent"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
# absolutely nothing

[profile.release]
panic = "abort"
lto = true
opt-level = "z"
codegen-units = 1
strip = true
